{{! This is the post loop - each post will be output using this markup }}
{{#foreach posts}}
<a class="post-link" href="{{url}}">
	<article class="{{post_class}} post-preview">
		<div class="post-preview-image" style="background-image: url('{{ image absolute="true" }}');"></div>
		<div class="post-preview-main">
			<header class="post-header">
				<h1 class="post-title"><a class="post-link" href="{{url}}">{{{title}}}</a></h1>
			</header>
			<section class="post-excerpt">
				<p>{{content words="26"}}</p>
			</section>
			<footer class="post-meta">
				{{#if author.image}}<img class="author-thumb" src="{{author.image}}" alt="Author image" nopin="nopin" />{{/if}}
				{{author}}
				{{tags prefix=" in "}}
				<time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
			</footer>
		 </div>
		<a class="read-more post-link" href="{{url}}"><i class="fa fa-arrow-right"></i></a>
	</article>
</a>
{{/foreach}}

{{! Previous/next page links - displayed on every page }}
{{pagination}}
